*~
.kateconfig

core
vgcore.*

*.pc
*.o
*.lo
.deps
.libs
*.la

aclocal.m4
autom4te.cache
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1

test-driver
test/bin/ubjson_test
*.log
*.trs
test-suite.log

config*

Makefile
Makefile.in
